
@mixin break($point) {
	@if $point == min1920 {
		@media  only screen and (min-width: 1920px) { @content; }
	}
	@else if $point == xl {
		@media  only screen and (max-width: 1919px) { @content; }
	}
	@else if $point == large1650 {
		@media  only screen and (max-width: 1650px) { @content; }
	}
	@else if $point == lg {
		@media  only screen and (max-width: 1470px) { @content; }
	}
	@else if $point == desktop {
		@media  only screen and (max-width: 1200px) { @content; }
	}
	@else if $point == tablet {
		@media  only screen and (max-width: 1024px) { @content; }
	}
	@else if $point == xs {
		@media  only screen and (max-width: 850px)  { @content; }
	}
	@else if $point == small {
		@media  only screen and (max-width: 768px)  { @content; }
	}
	@else if $point == ss-small {
		@media  only screen and (max-width: 670px)  { @content; }
	}
	@else if $point == x-small {
		@media  only screen and (max-width: 479px)  { @content; }
	}
	@else if $point == super-small {
		@media  only screen and (max-width: 415px)  { @content; }
	}
}


/*
 * A mixin targeting a specific device width and larger.
 * These are the available targets: 'xs', 'sm', 'md', 'lg', 'xl'
 *
 * @param {string} $media The target media
 */
@mixin respond-from($media) {
	/*@if $media == xs {
		@media (min-width: 0px)  { @content; }
	} @else if $media == sm {
		@media (min-width: 850px) { @content; }
	} @else if $media == md {
		@media (min-width: 1200px) { @content; }
	} @else if $media == lg {
		@media (min-width: 1470px) { @content; }
	} @else if $media == xl {
		@media (min-width: 1920px) { @content; }
	}*/

	@if $media == xl {
		@media (max-width: 1920px) { @content; }
	}
	@else if $media == lg {
		@media (max-width: 1470px) { @content; }
	}
	@else if $media == md {
		@media (max-width: 1200px) { @content; }
	}
	@else if $media == sm {
		@media (max-width: 1024px) { @content; }
	}
	@else if $media == xs {
		@media (max-width: 850px) { @content; }
	}
}


/*
 * Generates classes for a grid of columns, prefixed by size.
 * The result will be .col-[size]-[col]-[total-columns] E.g. .col-xs-6-12
 *
 * @param {string}	$size			The name of the size target (e.g. xs, sm, md, lg, xl, etc.)
 * @param {int}		$grid-columns	Amount of columns
 */
@mixin grid-generator($size, $grid-columns) {
	@for $i from 1 through $grid-columns {
		.col-#{$size}-#{$i}-#{$grid-columns} {
			width: percentage($i / $grid-columns);
			padding-left: 15px;
			padding-right: 15px;
		}

		.col-offset-#{$size}-#{$i}-#{$grid-columns} {
			margin-left: percentage($i / $grid-columns);
		}
	}

	.col-offset-#{$size}-0-#{$grid-columns} {
		margin-left: 0;
	}
}



// Generating grid
@include grid-generator(xs, 12);

@include respond-from(xl) {
	@include grid-generator(xl, 12);
}
@include respond-from(lg) {
	@include grid-generator(lg, 12);
}
@include respond-from(md) {
	@include grid-generator(md, 12);
}
@include respond-from(sm) {
	@include grid-generator(sm, 12);
}







