@import "_reset.scss";
@import "_mixin.scss";

* {
	outline: none !important;
}

p {
	&:empty {
		display: none;
	}

	strong {
		font-weight: bold;
	}

	em {
		font-style: italic;
	}
}

// general styles
.container {
	width: 1112px;
	margin-left: auto;
	margin-right: auto;

	@include break(desktop) {
		width: 970px;
	}
	@include break(tablet) {
		width: 970px;
	}
	@include break(xs) {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.row {
	margin-left: -15px;
	margin-right: -15px;

	@include break(xs) {
		margin-left: 0;
		margin-right: 0;
	}
}

.btn-primary {
	height: 70px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 170px;
	background-color: #FFCC01;
	color: #1F373D;
	font-family: Assistant, sans-serif;
	font-size: 24px;
	line-height: 1.2;
	text-decoration: none;
	border-radius: 3px;
	transition: background-color 0.3s ease;
	cursor: pointer;

	&:hover {
		background-color: #c69e01;
	}
}

.btn-secondary {
	height: 70px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	padding: 0 85px;
	color: #1F373D;
	font-family: Assistant, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.2;
	text-transform: capitalize;
	border-radius: 3px;
	text-decoration: none;
	transition: background 0.3s ease;
	cursor: pointer;

	&:hover {
		background: #7de0ff;
	}
}

// =======================================================
// =======================================================


// Header
#site-header {
	padding: 28px 0 30px;
}


// =======================================================
// =======================================================

// Hero box
.hero-box {
	margin: 0 0 105px;
	background: #fff;

	.inner {
		position: relative;

		&:before {
			position: absolute;
			content: '';
			display: block;
			left: 0;
			top: 0;
			width: 165px;
			height: 100%;
			z-index: 1;
			background: #fff;
		}
	}

	img {
		width: auto;
		max-width: 100%;
		height: auto;
		display: block;
		margin-left: auto;
	}

	.wrap-content {
		position: absolute;
		z-index: 2;
		width: 100%;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;
	}

	h1 {
		color: #DFE4E5;
		font-family: 'Libre Baskerville', serif;
		font-size: 61.64px;
		line-height: 1.25;
		font-weight: bold;
		margin: 0 0 54px;
		padding: 0;

		@include break(xs) {
			font-size: 45px;
			margin-bottom: 20px;
		}
	}

	.scroll-to-next-section {
		color: #CACCCD;
		font-family: 'Libre Baskerville', serif;
		font-size: 13px;
		font-weight: bold;
		line-height: 1.0;
		cursor: pointer;
		position: absolute;
		z-index: 3;
		padding: 0;
		left: 0;
		bottom: 0;
		width: 30px;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAcCAYAAAC6YTVCAAAAlElEQVQ4je3QOwrCQBQF0BNRd6GNhXuwEPwU7lIF0WXYi1aC9oq4DYlkIDqTYCvkNgP3zZmBlx2OJ4n0cEMf9+9xK77/TvZ1/oRq06AGNSiZP0AzrNGJpp/pYoN5jp5YYFsDc7ArPnjk6IIJxhUwgBGmuIbtVcEI5GW79GKAeyyLboVBGYRFlBPgsCgjkEJleE4BeAFewhvzVfSa6gAAAABJRU5ErkJggg==) 0 100% no-repeat;

		span {
			padding: 40px 0 0 0;
			transform: scale(-1);
			display: block;
			writing-mode: vertical-lr;
			white-space: nowrap;
			transition: padding 0.3s ease;
			pointer-events: none;
		}

		&:hover {
			span {
				padding-top: 45px;
			}
		}
	}
}


// Vehicles overview box
.vehicles-overview-box {
	background-color: #F6F5F4;
	padding: 60px 0 80px;

	h2 {
		color: #1F373D;
		font-family: "Libre Baskerville", serif;
		font-size: 40px;
		font-weight: bold;
		line-height: 1.25;
		margin-bottom: 50px;
		width: 100%;
	}

	.inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.vehicle-item {
		background: #fff;
		box-shadow: 0 2px 25px -10px rgba(23,44,51,0.15);
		width: calc(33.3% - 20px);
		margin-right: 30px;
		margin-bottom: 30px;

		&:nth-child(3n+3) {
			margin-right: 0;
		}

		@include break(desktop) {

		}
		@include break(tablet) {
			width: calc(50% - 20px);
			margin-right: 30px;

			&:nth-child(3n+3) {
				margin-right: 30px;
			}

			&:nth-child(2n+2) {
				margin-right: 0;
			}
		}
		@include break(xs) {

		}

		.featured-thumbnail {
			height: 380px;
			overflow: hidden;
			display: flex;
			padding: 30px;

			@include break(desktop) {
				height: 260px;
			}
			@include break(tablet) {

			}
			@include break(xs) {

			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
				width: auto;
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				text-decoration: none;
			}
		}

		.wrap-info {
			background: #fff;
			padding: 20px;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
		}

		.title {
			width: 100%;
			color: #1F373D;
			font-family: "Libre Baskerville", serif;
			font-size: 16px;
			line-height: 1.2;
			font-style: italic;
			margin-bottom: 10px;
		}

		.meta {
			width: 60%;

			p {
				color: #919EB1;
				font-family: Assistant, sans-serif;
				font-size: 15px;
				line-height: 1.1;
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.price {
			color: #FFCC01;
			font-family: "Libre Baskerville", serif;
			font-size: 32px;
			font-weight: bold;
			line-height: 1.2;
			margin-left: auto;

			@include break(desktop) {
				font-size: 26px;
			}
			@include break(tablet) {

			}
			@include break(xs) {

			}
		}
	}

	.end-of-list {
		text-align: center;
		font-size: 30px;
		width: 100%;
	}
}


// Wrapper load more
.wrap-load-more {
	padding: 50px 0 0;
	text-align: center;
}

// Filter vehicles form
.filter-vehicles-form {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 70px;

	.input-element {
		appearance: none;
		width: calc(33.3% - 20px);
		height: 54px;
		background-color: #FFFFFF;
		box-shadow: 0 2px 25px -10px rgba(23,44,51,0.15);
		padding: 0 20px;
		color: #919EB1;
		font-family: Assistant, sans-serif;
		font-size: 16px;
		line-height: 1.2;
		border: none;
		margin-right: 30px;
		border-radius: 0;

		@include break(desktop) {

		}
		@include break(tablet) {
			width: calc(33.3% - 23px);
		}
		@include break(xs) {

		}

		&[type="submit"] {
			margin-right: 0;
			background-color: #FFCC01;
			text-align: center;
			color: #FFFFFF;
			font-family: "Libre Baskerville", serif;
			font-size: 18px;
			line-height: 1.2;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
	}
}


